@import '../theme/theme.css';

.button {
    background: none;
    color: var(--text-color);
    border: none;
    border-radius: 3px;
    font-family: Rubik;
    font-size: 11px;
    padding: 0 5px;
}

.button:hover {
    background-color: var(--selection);
    color: var(--toolbar-background);
    cursor: pointer;
}