@import '../theme/theme.css';

.toolBarBlock {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.button {
    position: relative;
    margin: 0 5px;
    padding: 0 5px;
    font-family: Rubik;
    font-size: 14px;
    color: var(--text-color);
    background: none;
    border: none;
    border-radius: 3px;
}

.button:hover {
    background-color: var(--selection);
    color: var(--text-selection);
    cursor: pointer;
}

.additionalButton {
    padding: 0 5px;
    font-family: Rubik;
    font-size: 14px;
    color: var(--text-color);
    background: var(--element-hover);
    border: none;
    border-radius: 3px;
}

.undoButton {
    width: 25px;
    height: 25px;
    border-radius: 15%;
    background-image: url('/public/assets/undo.svg');
    background-size: cover;
}

.redoButton {
    width: 25px;
    height: 25px;
    border-radius: 15%;
    background-image: url('/public/assets/redo.svg');
    background-size: cover;
}

.acceptButton {
    position: relative;
    margin: 0 10px;
    padding: 0 5px;
    font-family: Rubik;
    font-size: 14px;
    color: var(--text-color);
    background-color: darkolivegreen;
    border: none;
    border-radius: 3px;
}

.acceptButton:hover {
    background-color: chartreuse;
    color: black;
}