@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('./Rubik/Rubik-Regular.ttf');
  }

  @font-face {
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 400;
    src: url('./Unbounded/Unbounded-Regular.ttf');
  }