@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./Poppins/Poppins-Regular.ttf');
  }

  @font-face {
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 400;
    src: url('./Unbounded/Unbounded-Regular.ttf');
  }