@import '../../components/theme/theme.css';

.slideContainer {
    overflow-y: auto;
    padding: 10px 0;
    background-color: var(--element-hover);
    scrollbar-gutter: stable; 
    scrollbar-width: thin; 
    scrollbar-color: var(--element-hover) var(--text-color);
}

.slideList {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
    user-select: none;
}

.slideListItem {
    border: 3px solid transparent;
    border-radius: 5px;
}

.slideListItem:hover {
    border: 3px solid var(--element-hover); 
}
