@import './components/theme/theme.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  height: calc(100vh - 70px);
  padding: 0 10px 0 0;
  background-color: var(--background-color);
  overflow: hidden;
}

body[dir='rtl'].container {
  direction: rtl;
}
