@import '../../components/theme/theme.css';

.toolBar {
    background-color: var(--toolbar-background);
    padding: 0 10px;
    height: 70px;
}

.title {
    margin-top: 10px;
    font-family: Unbounded;
    font-size: large;
    color: var(--text-color);
    background: none;
    border: none;
    padding: 0 5px;
}

.toolButtons {
    display: flex;
    margin: 10px 0;
}

.backgroundOptions {
    display: none;
}