@import '../../components/theme/theme.css';

.toolBar {
    background-color: var(--toolbar-background);
    padding: 0 10px;
    height: 70px;
}

.title {
    margin-top: 10px;
    padding: 0 5px;
    font-family: Unbounded;
    font-size: large;
    color: var(--text-color);
    background: none;
    border: none;
}

.toolButtons {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.backgroundOptions {
    display: none;
    margin: 0 5px;
    font-family: Rubik;
    font-size: 11px;
    color: var(--text-color);
    background-color: var(--element-hover);
    border: none;
    border-radius: 3px;
}

.slideShowButton {
    background-color: transparent;
    border: none;
}

a {
    margin: 0 5px;
    padding: 0 5px;
    font-family: Rubik;
    font-size: 14px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    background-color: var(--toolbar-background);
    color: var(--text-color);
}

a:hover {
    background-color: var(--selection);
    color: var(--text-selection);
    cursor: pointer;
}

.submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px 0;
    margin: 20px 0;
    gap: 5px;
    background-color: var(--element-hover);
    border: 2px solid var(--selection);
    border-radius: 5px;
    z-index: 1000;
}

.gradientSubmenu {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    gap: 5px;
}

.unsplashMenu {
    width: 100%;
    max-width: 80vh;
    max-height: 70vh;
    margin-top: 10px;
    overflow: auto;
}

.unsplashSearch {
    display: flex;
    align-items: center;
}

.searchInput {
    width: 60%;
    margin-left: 10px;
    padding: 2px 4px;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: var(--toolbar-background);
    border-radius: 3px;
}

.imageGrid {
    margin: 5px 10px;
}

.downloadPreview {
    position: fixed;
    top: 12%;
    left: 30%;
    width: 100%;
    max-width: 100vh;
    max-height: 85vh;
    padding: 15px;
    background-color: var(--selection);
    border: 2px solid var(--toolbar-background);
    border-radius: 5px;
    overflow: auto;
    scrollbar-gutter: stable; 
    scrollbar-width: thin; 
    scrollbar-color: var(--element-hover) var(--text-color);
    z-index: 1000;
}

.previewAccept {
    display: flex;
    align-items: center;
    padding: 2px 5px;
}