@import '../../components/theme/theme.css';

@keyframes wave {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.mainPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--toolbar-background), var(--element-hover))
}

.appName {
    margin-top: 40px;
    font-family: "Unbounded";
    font-size: 64px;
    background: linear-gradient(90deg, var(--selection), var(--text-color), var(--selection));
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: wave 5s ease infinite;
    transform: translate3d(0, 0, 0);
}

.appDescription {
    margin-bottom: 40px;
    font-family: "Unbounded";
    font-size: 24px;
    background: linear-gradient(90deg, var(--selection), var(--text-color), var(--selection));
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: wave 5s ease infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.5;
}

.appOptions {
    display: flex;
    margin: 40px;
}

.appLinks {
    font-family: "Unbounded";
    font-size: 20px;
}

.creatorsLinks {
    position: fixed;
    bottom: 5vh;
    font-family: "Unbounded";
    font-size: 14px;
    background-color: transparent;
    color: var(--toolbar-background);
}